{% set moduleList = modules.sections %}

<!DOCTYPE html>
<html lang="en"
    x-data="flightplan()"
    x-init="ThemeToggle.setCurrent()"
    class="h-full"
    :class="{ 'dark' : ThemeToggle.isDark }"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>

  <body 
    x-cloak
    class="[ text-gray-600 bg-gray-50 dark:bg-gray-700 dark:text-gray-200 ]
           [ grid grid-cols-12 ]">
    <aside
      x-ref="navigation-pane"
      @click.away="hidePane()"
      @keyup.escape="hidePane()"
      :class="{ 'invisible -translate-x-full xl:visible xl:translate-x-0': !NavigationPanelisVisible , 'visible translate-x-0 shadow-2xl': NavigationPanelisVisible }"
      class="fixed z-20 invisible block min-h-screen transition-all duration-300 ease-in-out bg-gray-800 bg-opacity-80 backdrop-blur-2xl w-96 xl:w-auto xl:relative xl:shadow-none xl:col-span-2">

      {% include "../_includes/blocks/module-navigation-panel.html" %}

    </aside>

    <main class="col-span-12 xl:col-span-10">

      {% include "./partials/header.html" %}
    
      <div
        x-ref="toaster"
        x-show="ToastNotification.isVisible"
        x-text="ToastNotification.message"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 translate-x-8"
        x-transition:enter-end="opacity-100 translate-x-0" 
        x-transition:leave="transition ease-in duration-1000" 
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0" 
        class="fixed w-64 p-4 text-xs bg-gray-900 border-l-8 border-green-600 top-16 right-4"></div>

      {{content|safe}}

    </main>
    
    {% include "./blocks/footer.html" %}

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.2.x/dist/screen.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/js/flightplan.js"></script>
    <script src="/static/js/app.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>