{% set moduleList = module.list %}
{% from "../_includes/components/site.html"
import
Capsule,
Button %}

<!DOCTYPE html>
<html lang="en"
    x-data="flightplan()"
    x-init="ThemeToggle.setCurrent()"
    :class="{'dark':ThemeToggle.isDark}"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>

  <body
    x-cloak
    x-init="NavPane.hidePane()"
    class="relative grid grid-cols-10 pt-12 text-gray-500 bg-gray-50">

    {% include "./partials/header.html" %}

    <aside
      :class="{ '-translate-x-full xl:translate-x-0': NavPane.navPaneVisible === false, 'translate-x-0': NavPane.navPaneVisible === true }"
      class="fixed z-20 block h-full min-h-screen transition duration-300 ease-in-out transform bg-gray-200 border-r border-gray-300 col-span-0 xl:col-span-2 4xl:col-span-1 w-96 xl:bg-opacity-100 backdrop-blur-2xl xl:w-auto xl:relative xl:shadow-none">
      {% include "../_includes/blocks/module-navigation-panel.html" %}
    </aside>

    <main
      x-init="NavPane.getItems({{ module.sections|dump }})"
      class="relative col-span-10 xl:col-span-8 4xl:col-span-9">
      {% include "./partials/toaster.html" %}
      {{ content|safe }}
    </main>
    {# {% include "./blocks/footer.html" %} #}
    <!-- Alpine Plugins -->
    {# <script defer src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.2.x/dist/screen.min.js"></script> #}
    <script defer src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/js/flightplan.js"></script>
    {# <script src="/static/js/app.js"></script> #}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <div
      x-show="NavPane.navPaneVisible"
      x-transition.opacity.duration.500ms
      @click.stop="NavPane.hidePane()"
      class="fixed inset-0 w-screen h-screen bg-gray-500 bg-opacity-50"></div>
  </body>
</html>