<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {# {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %} #}
  </head>
  <body class="flex items-center justify-center min-h-screen font-sans bg-gray-800">
    <div class="text-center">
      <h1 class="text-5xl font-extrabold text-white">flight plan</h1>
      <p class="mt-2 text-lg font-normal text-gray-200">Your TailwindCSS config visualized.</p>
      <a class="block mt-8 text-blue-400 underline text-md" href="/modules/#borders">View modules</a>
    </div>
    {# {% include "./partials/header.html" %} #}
    {# {{ content | safe }} #}
    {# {% include "./partials/footer.html" %} #}
    <!-- Alpine Plugins -->
    {# <script src="/static/js/alpine-persist.js"></script> #}
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    {# <script defer src="/static/js/alpine.js"></script> #}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
      {
        # document.addEventListener('alpine:init', () => {
          Alpine.store('showAllSubmenus', {
            on: false,

            toggle() {
              this.on = !this.on
            }
          })
        })#
      }
    </script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>