{% from "../_includes/components/ButtonGroup.html" import ButtonGroup %}
{% from "../_includes/components/Capsule.html" import Capsule %}

{% set durations = tw.global.transitionDuration %}
{% set durationsListLength = durations | length %}
{% set easings = tw.global.transitionTimingFunction %}

<div x-data="Transitions()" x-init="init()">
  <fieldgroup class="grid w-full grid-cols-12 gap-2 py-2 md:w-1/2 place-content-start">
    {% for key, value in durations %}
    <button @click="setDuration( {{key|dump}} )"
      class="h-10 col-span-4 bg-gray-900 border-2 border-gray-900 rounded outline-none bg-opacity-80 bg-gradient-to-b focus:ring-4">
      <span class="text-xs md:text-sm">{{ value }}</span>
    </button>
    {% endfor %}
  </fieldgroup>

  {# <div class="flex justify-between">
    <div class="w-1/4 py-4 pr-4">
      <div class="relative h-48 overflow-hidden bg-gray-800 rounded-2xl">

        <div
          class="absolute w-2 h-2 origin-center transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-full top-1/2 left-1/2">
          <div class="absolute w-2 h-32 origin-top-left transform rotate-90 bg-gray-200 rotate"></div>

        </div>

      </div>
    </div>

  </div> #}
  <section class="">
    {% for key, value in easings %}

    <div x-data="{ isPlaying: false }" class="mt-12">
      <span x-text="isPlaying"></span>
      <span x-text="currentDuration"></span>
      <div @click="isPlaying = !isPlaying"
        class="relative flex items-center flex-grow w-full h-8 bg-gray-800 border border-gray-800 rounded-md shadow-inner bg-opacity-30 hover:cursor-pointer lg:order-last">
        {# <div x-text="isPlaying"></div> #}
        <span class="absolute inset-0 block w-full h-8 text-xs leading-8 text-center text-gray-400">{{ value }}</span>
        <div
          :style="{ animationDuration: `${currentDuration}ms`,  animationTimingFunction: `{{ key }}`, animationIterationCount: `${currentIterationCount}` }"
          :class="{ 'animate-active' : isPlaying }"
          class="absolute animate-horz transform top-1/2 -translate-y-1/2 w-10 h-6 rounded transition-all bg-blue-500 bg-opacity-75 ease-{{ key }}">
        </div>
      </div>
      <div class="flex font-mono text-white justify-evenly">
        
        {{ Capsule( ['ease-', key] | join('') ) }}
        

        <div class="flex mt-2 overflow-hidden bg-gray-800 border-gray-900 rounded-md">
          <button @click="playAnimation()" type="button"
            class="w-24 h-10 px-2 py-1 bg-gray-800 border border-gray-900 rounded-l outline-none bg-opacity-80 bg-gradient-to-b focus:ring-4">
            <svg class="inline-block w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="inline-block text-xs">Play</span>
          </button>
          <button @click="loopAnimation()" type="button"
            class="w-24 h-10 px-2 py-1 -ml-px bg-gray-800 border border-gray-900 rounded-r outline-none bg-opacity-80 bg-gradient-to-b focus:ring-4">
            <svg :class="{ 'inline-block' : isPlaying, 'hidden': !isPlaying }" class="w-5 h-5" fill="currentColor"
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z"
                clip-rule="evenodd"></path>
            </svg>
            <svg :class="{ 'inline-block' : !isPlaying, 'hidden': isPlaying }" class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="currentColor" fill-rule="evenodd"
                d="M11.828.804a1 1 0 0 1 1.414 0l3.489 3.489a1 1 0 0 1 0 1.414l-3.497 3.497A1 1 0 1 1 11.82 7.79L13.61 6H5c-.503 0-1.004.241-1.396.655C3.204 7.075 3 7.589 3 8a1 1 0 1 1-2 0c0-1.011.467-1.998 1.153-2.722C2.847 4.548 3.846 4 5 4h8.61L11.828 2.22a1 1 0 0 1 0-1.415ZM17.023 11c0 .412-.204.925-.604 1.345-.392.414-.892.655-1.396.655H6.414l1.79-1.79a1 1 0 0 0-1.415-1.414l-3.496 3.497a1 1 0 0 0 0 1.414l3.488 3.489a1 1 0 0 0 1.414-1.414L6.414 15h8.61c1.153 0 2.153-.547 2.846-1.278.687-.723 1.153-1.71 1.153-2.722a1 1 0 1 0-2 0Z"
                clip-rule="evenodd" />
            </svg>
            <span class="inline-block">Loop</span>
          </button>
        </div>

      </div>
    </div>
    {% endfor %}
  </section>
</div>

<script>
  function Transitions() {
    return {
      isPlaying: false,
      currentDuration: 150,
      currentIterationCount: 1,
      init() {
        this.setDuration(150)
        this.setIterationCount(1)
      },
      startAnimation() {
        this.isPlaying = true
      },
      stopAnimation() {
        this.isPlaying = false
      },
      toggleAnimation() {
        this.isPlaying = !this.isPlaying
      },
      playAnimation() {
        this.setIterationCount(1)
        this.startAnimation()
        setTimeout(() => {
          this.stopAnimation()
        }, this.currentDuration)
      },
      loopAnimation() {
        this.setIterationCount('infinite')
        this.toggleAnimation()
      },
      setDuration(duration) {
        this.currentDuration = duration
      },
      setIterationCount(count) {
        this.currentIterationCount = count

      }
    }
  }
</script>