{% from "components/site.html" import
padding,
ModuleHeading,
ModuleSectionHeading,
Capsule,
typescaleDemo,
fontweightDemo,
lineHeightDemo,
letterSpacingDemo,
genericDemo,
paddingDemo,
marginDemo,
DisplayValue,
BoxSelectionResultDemo %}

{{ ModuleHeading('Typography') }}

<article class="{{ padding() }}">
  <div class="grid grid-cols-12 mt-4 md:mt-6 xl:mt-8">
    <div class="col-span-12">
      {{ ModuleSectionHeading('Primary font', '') }}
      <span class="inline-block mt-4 text-xl">Inter</span>
    </div>
    <div class="col-span-12 pr-8">
      <p class="mt-6 font-medium text-lede">Inter is a typeface carefully crafted & designed for computer screens.</p>
      <p class="mt-2 leading-relaxed md:mt-3 xl:mt-4 text-p font-semilight text-md">
    Inter features a tall x-height to aid in readability of mixed-case and lower-case text. Several OpenType features are provided as well, like contextual alternates that adjusts punctuation depending on the shape of surrounding glyphs.</p>
    </div>
  </div>
</article>

<article class="{{ padding() }} mt-8 md:mt-12 xl:mt-16">
  {{ ModuleSectionHeading('Font weight', '') }}
  <div class="flex flex-col mt-8 space-y-3 ">
    {% for key, value in tw.global.fontWeight %}
      {{ fontweightDemo(key, value) }}
    {% endfor %}
  </div>
</article>

<article class="{{ padding() }} mt-8 md:mt-12 xl:mt-16">
  {{ ModuleSectionHeading('Type scale', '') }}
  <div class="mt-8 divide-y divide-gray-200">
    {% for key, value in tw.global.fontSize %}
      <div class="py-4">
        {% set lineHeightDisplay = value[1].lineHeight %}
        {{ typescaleDemo(key, value, lineHeightDisplay) }}
      </div>
    {% endfor %}
  </div>
</article>

<article class="{{ padding() }} mt-8 md:mt-12 xl:mt-16">
  {{ ModuleSectionHeading('Letter spacing', '') }}
  <div class="flex flex-col mt-8 space-y-3 ">
    {% for key, value in tw.global.letterSpacing %}
      {{ letterSpacingDemo(key, value) }}
    {% endfor %}
  </div>
</article>

<article class="{{ padding() }} mt-8 md:mt-12 xl:mt-16">
  {{ ModuleSectionHeading('Line height', '') }}
  <div class="grid grid-cols-12 gap-8 mt-8 md:gap-12 xl:gap-16 3xl:gap-16 auto-rows-fr">
    {% for key, value in tw.global.lineHeight %}
      {% if 'rem' in value %}
        {% set gradientStop = value %}
      {% else %}
        {% set gradientStop = [value, 'em'] | join('') %}
      {% endif %}
      {{ lineHeightDemo(key, value, gradientStop) }}
    {% endfor %}
  </div>
</article>

{# <div class="" x-data="{ phrase: 'Wizards' }">
  <input type="text" x-model="phrase" x-on:click.away="{ phrase = phrase }"
    class="block w-full h-24 px-8 text-3xl text-gray-400 bg-gray-900 rounded-lg shadow-inner focus:outline-none">
  {% for key, value in tw.global.fontSize %}
  <p x-text="phrase"
    class="mt-16 text-gray-200 text-{{ key }} leading-none {% if not loop.first %} mt-12{% endif %}"></p>
  <span></span>
  {% endfor %}
</div> #}