{% set moduleList = modules.pages %}

<nav class="fixed w-3/4 p-8 ml-auto xl:sticky top-20">
    <ul>

        {% for module in moduleList %}
            {% set currentModule = module %}

            <li class="-mt-px">
                <div class="flex justify-between">
                    <a 
                            href="#{{ module.id }}"
                            @click="hidePane()"
                            {# class="flex-grow {% if currentModule.id === module.id %}bg-opacity-5 border-l-4 {% else %}bg-opacity-0 border-transparent {% endif %}border-l-8 flex items-center h-10 transition cursor-pointer group text-sm hover:bg-gray-500 hover:bg-opacity-5"  #}
                            class="flex items-center flex-grow h-10 text-sm transition cursor-pointer group hover:bg-gray-500 hover:bg-opacity-5" 
                        >
                        <div class="flex items-center justify-center w-10 h-full">
                            <svg class="{% if currentModule.id === module.id %} opacity-100 {% else %}opacity-0 {% endif %} flex-shrink-0 w-5 h-5 transition group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                                    {{ module.icon | safe }}
                                </svg>
                        </div>
                        <span class="capitalize">{{ module.id }}</span>
                    </a>
                </div>
            </li>
            {% endfor%}
        </ul>
    </nav>