{% from "components/site.html"
import
ComingSoon %}

{% set sections = module.sections %}
{% set comingSoon = module.comingSoon %}

<nav
    x-data="{ activeSection: {{ sections[0].id|dump }} }"
    class="fixed flex flex-col items-start w-64 p-4 -translate-x-1/2 left-1/2 xl:translate-x-0 xl:ml-auto xl:left-0 xl:p-8 top-24 xl:sticky">
    <p class="text-xs text-gray-400 uppercase">Modules</p>
    <ul class="w-full mt-2 -ml-2">
        {% for section in sections %}
            {% set currentSection = sections[loop.index0] %}
            <li class="flex flex-wrap justify-between -mt-px jsNavPaneItem" data-section-id="{{- sections[loop.index0].id -}}">
                <a
                    @click="activeSection = {{ sections[loop.index0].id|dump }}, NavPane.hidePane()"
                    href="{{- sections[loop.index0].hash -}}" 
                    :class="{ 'bg-gray-600 text-white': {{ sections[loop.index0].id|dump }} === activeSection, 'hover:bg-gray-500': {{ sections[loop.index0].id|dump }} !== activeSection}" 
                    class="flex items-center flex-grow py-2 pl-2 pr-6 text-sm transition rounded cursor-pointer group hover:text-white">

                    <svg
                        :class="{ 'opacity-100 text-blue-400': {{ sections[loop.index0].id|dump }} === activeSection, 'opacity-20': {{ sections[loop.index0].id|dump }} !== activeSection }" 
                        class="flex-shrink-0 w-5 h-5 mr-3 text-gray-500 transition group-hover:text-blue-300 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                        {{ section.icon | safe }}
                    </svg>
                    <span>{{- sections[loop.index0].id|title -}}</span>
                </a>
            </li>
            {% endfor%}
        </ul>
        <p class="mt-8 text-xs text-gray-400 uppercase">Coming soon</p>
        <ul class="w-full mt-2">
            {% for section in comingSoon %}
                <li class="flex items-center py-1 text-sm">
                    <span class="block w-4 h-4 mr-3 bg-gray-300 rounded"></span>
                    {{ ComingSoon(section.id) }}
                </li>
                {% endfor%}
            </ul>
        </nav>