{% import "../components/ThemeToggle.html" as global %}

<header 
    class="fixed inset-x-0 top-0 z-50 flex items-center justify-start w-full h-12 px-4 bg-white shadow-lg md:px-8 xl:px-12">

    <button 
        type="button" 
        label="module navigation"
        class="flex items-center justify-center w-12 h-12 xl:hidden" 
        @click="NavPane.displayPane()"
        @keyup.escape="NavPane.hidePane()">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg>
    </button>

    <a class="flex items-center ml-6" href="/">
        <span class="font-bold tracking-tight text-gray-500 text-md md:text-lg">flightplan</span>
    </a>
    {# {{ global.ThemeToggle() }} #}
</header>