   <div
        x-ref="Toaster"
        x-text="Clipboard.toastContent"
        x-show="Clipboard.toastVisible === true"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 translate-x-8"
        x-transition:enter-end="opacity-100 translate-x-0" 
        x-transition:leave="transition ease-in duration-1000" 
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0" 
        class="fixed w-64 p-4 text-xs border-l-8 border-green-600 top-8 right-4"></div>